<!-- templates/lab_5/partials/header.html -->
<nav>
  <div class="container">
    <div class="navbar-header">
    <!-- Themes section -->
	<section>
	<div>
		<div class="theme">
			  <p id="title">Theme :</p>
			  <select class="my-select" syle="color:#000000"></select>
			  <button class="apply-button btn btn-default">Apply</button>
		</div>
	</div>
	</section>
    </div>
  </div>
</nav>
