body {
	background: #e9ebee;
	margin-bottom: 100px;
}
.cover {
	height: 350px;
	width: 851px;
	background: white;
	margin:auto;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.cover img {
    width: 100%;
    height: 300px;
}
#cover-img {
	clip: rect(0px, 0px, 500px, 0px);
}
.picture {
	background: white;
	width: 168px;
	height: 168px;
	padding: 5px;
	top: 13%;
	left: 43%;
	position: absolute;
	border-radius: 1px;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.picture img {
	width: 158px;
	height: 158px;
}
.name{
	font-size: 24px;
	font-weight: bold;
	font-family: 'Helvetica';
	color: black;
	height: 50px;
	width: 200px;
	margin: auto;
}
.about {
	left: 335px;
	top: 430px;
	min-height: 225px;
	width: 320px;
	background: white;
	position: absolute;
	font-family: 'Helvetica';
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.about div {
	padding: 10px 20px 5px 25px;
}
.about div img {
	position: relative;
}
.about div div {
	word-wrap: break-word;
	margin-left: 5px;
}
#logout-btn {
	text-align: center;
	margin-top: 20px
}
#login-btn {
	position:absolute;
	top:50%;
	left:50%;
	padding:15px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.bagan {
	left: 680px;
	top: 430px;
	height: 170px;
	width: 500px;
	background: white;
	position: absolute;
	font-family: 'Helvetica';
}
.bagan textarea {
	resize: none;
	height: 100px;
}
.status {
	left: 500px;
	top: 620px;
	height: 170px;
	width: 500px;
	position: absolute;
}
.list-status {
	min-height: 170px;
	width: 100%;
	margin: 20px auto;
	padding: 20px 30px;
	background: white;
	word-wrap: break-word;
	font-family: 'Helvetica';
	font-size: 18px; 
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.mini-photo {
	margin-bottom: 14px;
}

#user-name {
	margin-left: 10px;
	font-size: 24px;
}
.img-circle {
	border-radius: 50%;
}
.status-date{
	margin-top: 14px;
	color: grey;
	font-size: 14px;
}
.status-delete {
	z-index: 1;
	border-radius: 100%;
}