{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1 style="text-align: center; font-size: 60px;">HOME</h1>
{% load static %}
<img style="border-radius: 50%; display: block; margin: auto; "src={% static "Me.jpg" %} height="250" width="250"></img>
<section name="bio">
	<p style="font-size: 26px; text-align: center; margin-left: 200px; margin-right: 200px">
		{{content}}
	</p>    
</section>
<hr/>
<section style="margin: auto; width: 20%;" name="about_me">
	<h3 style="text-align: center;"><b>About Me</b></h3>
	<ul>
		{% for ii in about_me %}
			<li style="font-size: 18px"> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>
<section name="form" style="margin: auto; width: 50%;">
	<h3 style="text-align: center;"><b>Send Message</b></h3>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>
<hr/>
{% endblock %}