{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> FRIEND LIST</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url "lab-7:get-friend-list" %}",
                success: function (response) {
					var teman = response.results
					for(i = 0; i<teman.length; i++){
						var html = '<div>' + 
										'<p class="list-group-item clearfix" style="margin: 0% 25% 0% 12%;">' + teman[i].friend_name +' (' +  teman[i].npm + ')' + '<button style="float: right" class="btn btn-primary btn-danger" onClick="deleteFriend(\''+teman[i].npm+ '\')">Hapus</button> </p>' + 
								   '</div>'
						$("#friend-list").append(html);
					}
                },
                error: function(error){
                   // html = '<div class="alert alert-danger text-center"> <strong>Opps!</strong> Tidak ada teman </div>'
					//$("#friend-list").append(html + deleter)
                }
            });
        });
		
		var deleteFriend = function(friend_id) {
           window.open('delete-friend/'+friend_id+'/', '_self');
		   alert("Teman dengan NPM : " + friend_id + " Telah terhapus")
        }
    </script>
{% endblock %}
